.social
  display: inline-block
  width: 35px
  height: 35px
  vertical-align: middle
  border-radius: 50%
  background-position: 50% 50%
  background-size: 40%
  background-repeat: no-repeat
  margin-bottom: 10px
  border-radius: 16px
  padding: 14px
  box-sizing: border-box
  -webkit-transition: .3s
  transition: .3s
  margin: 8px
  box-shadow: 5px 5px 10px #dae3ea, -5px -5px 10px #f6ffff

.social--facebook
  background-image: url('https://cdn.rawgit.com/encharm/Font-Awesome-SVG-PNG/master/black/svg/facebook-f.svg')

.social--twitter
  background-image: url('https://cdn.rawgit.com/encharm/Font-Awesome-SVG-PNG/master/black/svg/twitter.svg')

.social--instagram
  background-image: url('https://cdn.rawgit.com/encharm/Font-Awesome-SVG-PNG/master/black/svg/instagram.svg')

.social--email
  background-image: url('https://cdn.rawgit.com/encharm/Font-Awesome-SVG-PNG/master/black/svg/envelope.svg')

@media screen and (min-width: 900px)
  .social
    width: 40px
    height: 40px
